[build]
  command = "cd backend && npm run build:netlify && cd ../frontend && npm run build"
  publish = "frontend/dist/frontend/browser"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200